<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FlightRadar Tracker Web</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
  <h1>FlightRadar24 Interactive Tracker</h1>

  <div class="controls">
    <input type="text" id="flight-id" placeholder="Vol ID ou Callsign">
    <button onclick="startTrackById()">Suivre le vol</button>
    <hr>
    <select id="country"></select>
    <select id="airport"></select>
    <select id="flight"></select>
    <button onclick="trackFromAirport()">Suivre sélection</button>
  </div>

  <div id="map"></div>
  <script src="https://cdn.socket.io/4/socket.io.min.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
